li {
  padding: 10px;
  font-weight: $bold;
  font-size: 18px;
  padding: 20px;
}
.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}
.menu-icon {
  display: none;
}
@media (max-width: 640px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    z-index: 9;
    font-size: 30px;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 100px;
    background-color: white;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 230px;
  }

  // .nav-item {
  //   display: flex;
  //   flex-direction: column;
  // }

  .nav-elements .nav-item li {
    margin-right: unset;
    margin-top: 22px;
  }
  #login {
    display: none;
  }

  #login-mob {
    display: block !important;
    width: 50%;
  }
}

#login-mob {
  display: none;
}
